*{
    font-family: Arial, Helvetica, sans-serif;
}

/*Comunes*/
body{
    background-color: #fafaed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    
}

header .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo-container a{
    width: 15%;
    display: block;

}

header .logo-container img{
    width: 100%;
    height: auto;
    margin-right: 10px;
}

header .links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    
}
header .links-container li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

header .links-container a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    text-align: center;
}
header .links-container a:hover{
    color: #f0f0f0;
    transition: color 0.3s ease;
}


header .links-container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2.5px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease 0.2s;
}

header .links-container a:hover::after {
    transform: scaleX(1);
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 12px;
}
@media (max-width: 768px) {
    header .logo-container a{
        width: 20%;
        transition: width 0.3s ease;
    }
    
    
}


/*Index*/
.Presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url("Imagenes/pie_orig.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}


/*Evento*/
/* Contenedor principal */
.eventos-main {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex: 1 ;
}

/* Sección de eventos */
.eventos {
    width: 80%;
    max-width: 1000px;
    text-align: left;
    margin-top: 20px;
}

/* Línea divisoria */
.eventos hr {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
}

/* Contenedor de eventos */
.eventos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; /* Espacio entre la imagen y la descripción */
    flex-wrap: wrap; /* Permite que se ajuste en pantallas pequeñas */
    margin-bottom: 25px;
}

/* Contenedor de la imagen */
.evento-imagen {
    flex: 1;    
    display: flex;
    justify-content: center;
    max-width: 70%;
}

/* Imagen */
.evento-imagen img {
    width: 100%;
    max-width: 80%;
    height: auto;
    border-radius: 10px; /* Suaviza las esquinas */
}

/* Descripción del evento */
.evento-descripcion {
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    max-width: 60%;
}

/* Cando la pantalla es pequeña */
@media (max-width: 768px) {
    .eventos-container {
        flex-direction: column;
        text-align: center;
    }

    .evento-imagen,
    .evento-descripcion {
        max-width: 100%;
    }
}

