*{
    font-family: Arial, Helvetica, sans-serif;
    
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
/*Comunes*/
body{
    background-color: #fafaed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    padding-top: 10px;
    background:#0173d3;
    color: silver;
    text-align: center;
    
}

header .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo-container a{
    width: 15%;
    display: block;

}

header .logo-container img{
    margin-top: 15px;
    width: 100%;
    height: auto;
    margin-right: 10px;
}

header .links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
header .links-container li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

header .links-container a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: center;
}



header .links-container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2.5px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease 0.2s;
}

header .links-container a:hover::after {
    transform: scaleX(1);
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
}

footer{
    background-color: #0173d3;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
}
@media (max-width: 768px) {

    header .logo-container{
        flex-direction: column;
        align-items: center;
    }

    header .links-container a{
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
        margin: -4px;
        
    }
    header .logo-container a{
        width: 45%;
        transition: width 0.3s ease;
    }
    
    
}


/*Index*/
/*
*
*
*
*
*
**/
.Presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-image: url("Imagenes/pie_orig.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}



.container {
    max-width: 1000px;
    margin: 10px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.text {
    flex: 1;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
}
.image-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 15px;
}
.image-container img {
    width: 90%;
    height: auto;
    max-width: 440px;
    min-width: 170px;
    border-radius: 8px;
}
.triangular-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.triangular-images img {
    width: 90%;
    height: auto;
    max-height: 200px;
    max-width: 340px;
    border-radius: 8px;
}
.triangular-images img:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    width: 62%;
    justify-self: center;
    height: auto;
}
@media (max-width: 768px) {
    .triangular-images {
        grid-template-columns: 1fr;
    }
    .triangular-images img:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
        width: 100%;

    }
    .image-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .image-container img {
        width: 100%;
        max-width: 250px;
    }
}

.Informacion-container h2{
    color: #2c3e50;
    font-size: 24px;
     font-weight: bold;
}
.Informacion-container .Asociacion_link{
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.Informacion-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.Informacion-container hr{
    margin: 20px 0;
    border: 1px solid #ccc;
}

.Colegio_link{
    display: inline-block;
    background-color: #e67e22; 
    color: white; 
    padding: 10px 15px; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold;
}
.Informacion-container a:hover {
    background-color: rgba(234, 19, 19, 0.1);
    padding: 10px 15px; 
    border-radius: 8px;
    
    color: rgb(234, 19, 19);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(234, 19, 19, 0.2);
    transition: all 0.4s ease;
}

/*Evento*/
/*
*
*
*
*
*
*
*/
/* Contenedor principal */
.eventos-main {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex: 1 ;
}

/* Sección de eventos */
.eventos {
    width: 80%;
    max-width: 1000px;
    text-align: left;
    margin-top: 20px;
}

/* Línea divisoria */
.eventos hr {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
}

/* Contenedor de eventos */
.eventos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; 
    flex-wrap: wrap; 
    margin-bottom: 25px;
}

/* Contenedor de la imagen */
.evento-imagen {
    flex: 1;    
    display: flex;
    justify-content: center;
    max-width: 70%;
}

/* Imagen */
.evento-imagen img {
    width: 100%;
    max-width: 80%;
    height: auto;
    border-radius: 10px; 
}


.evento-descripcion {
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    max-width: 60%;
}


@media (max-width: 768px) {
    .eventos-container {
        flex-direction: column;
        text-align: center;
    }

    .evento-imagen,
    .evento-descripcion {
        max-width: 100%;
    }
}
/*
*
*
*
*
*
*/
/*Montessori*/
.montessori-container {
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.montessori-tarjeta {
    width: 90%;
    height: auto;
    flex: 1;
    margin: 0 auto 10px;
    padding-top: 10px;
}

.pregunta {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    padding: 15px;
    cursor: pointer;
    font-size: 1px;
    transition: background-color 0.9s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: color 0.4s ease-in-out,;
}

.pregunta:hover {
    background-color: #0173d3;
}

.respuesta {
    max-height: 0;
    font-size: 16px;
    overflow: hidden;
    padding: 0 15px;
    background-color: #f1f1f1;
    border-radius: 5px, 5px 5px 5px 0;
    transition: max-height 0.4s ease-in-out, padding 0.7s ease-in-out;
}

.respuesta.open {
    max-height: 200px; 
    padding: 15px;
}

.icono {
    font-size: 20px;
    transition: transform 0.4s ease-in-out;
}

.pregunta.active .icono {
    transform: rotate(180deg);
}


.pregunta.active {
    background-color: #0173d3;
    color: white;
    transition: color 0.4s ease-in-out;
}
@media (max-width: 768px) {
    .pregunta {
        font-size: 16px; 
        padding: 10px; 
        flex-direction: column; 
        align-items: flex-start; 
    }

    .pregunta .icono {
        margin-top: 10px;
    }

    .respuesta {
        padding: 0 10px;
    }

    .respuesta.open {
        max-height: 150px; 
        padding: 10px;  
    }
}

@media (min-width: 769px) {
    .pregunta {
        font-size: 23px;
        padding: 15px; 
        flex-direction: row; 
        align-items: center; 
    }

    .respuesta {
        padding: 0 15px; 
    }

    .respuesta.open {
        max-height: 200px;
        padding: 15px; 
        font-size: 20px;
    }
}
/*
*
*
*
*
*
*
*
*
*/
/*AMMA*/

/* Contenedor principal */
.AMMA-container {
    max-width: 100%;
    height: auto;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

/* Títulos */
.AMMA-container h2 {
    color: #0173d3;
    border-left: 5px solid #0173d3;
    padding-left: 10px;
    font-size: 24px;
}

/* Lista de fines y actividades */
.AMMA-container ul {
    list-style: none;
    padding-left: 0;
}

.AMMA-container ul li {
    background: url('https://img.icons8.com/ios-filled/15/2e8b57/checkmark.png') no-repeat left center;
    padding-left: 25px;
    margin: 8px 0;
}

/* Estilos para emails */
.email-container {
    margin-top: 35px;
    font-size: 18px;
}

.email-container a {
    display: inline-block;
    background: #0173d3;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 1s ease;
} 

.email-container a:hover {
    background: #5cb5fe;
}

/*
*
*
*
*
*
*
*
*/
/*socios*/

.socio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 55%;
    background-color: #ffffff;
}

.form-container {
    background-color: #fbfbfb;
    padding: 2.5rem;
    margin: 2rem auto;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 95%;
    max-width: 800px;
}



.form-container h2 {
    text-align: center;
    color: #0173d3;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 600;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-container label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: #374151;
}

.form-container input, select {
    width: 91%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.2s;
    background-color: #f9fafb;
}

.form-container input:focus, .form-container select:focus {
    border-color: #0173d3;
    outline: none;
    background-color: #fff;
}

.form-row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.form-row .form-group {
    flex: 1;
    min-width: 200px;
}

hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 2rem 0;
}

.legal {
    font-size: 23px;
    color: #444;
    line-height: 1.5;
}

.legal a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0173d3;
    padding: 0.5rem 1rem;
    border-radius: 10px;

}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn {
    background-color: #0173d3;
    color: white;
    padding: 0.85rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn:hover, #descarga:hover, .lefgal a:hover {
    background-color: #0868f7;
    transform: translateY(-2px);
}
.form-container #descarga{
    color: #ffffff;
    background-color:#0173d3;
    padding: 0.85rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-left: 12%;
}
.arquia-banca {
    border: solid 1px #0173d3;
    background-color: #ffffff;
    padding: 0.85rem 2rem;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;

}
.transferencia-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
    .form-row .form-group {
        min-width: 100%;
    }
}

/*
*
*
*
*
*
*
*
*/
/*Quienes somos*/
.Quienes-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    flex: 1;
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
}

/* Sección de Personas destacados */
.Personas {
    width: 100%;
    max-width: 70%;
    text-align: left;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 20px;
}


/* Contenedor de perfiles */
.personas-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 15px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

/* Contenedor de la imagen */
.personas-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 100%;
    transition: transform 0.3s ease;
}
.personas-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;;
    
}

/* Imagen */
.personas-imagen img {
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Descripción de la persona */
.personas-descripcion {
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Responsividad */
@media (max-width: 768px) {
    .personas-container {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    .personas-container:hover {
        transform: scale(1);
    }
    .Personas{
        grid-template-columns: 1fr;
    }
    .personas-imagen,
    .personas-descripcion {
        max-width: 100%;
    }
}